:root {
    --main-color: #7C6EF5;
}

body {
    background: #DDDDDD;
    font-family: 'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    background-color: var(--main-color);
    color: white;
}

.page-container {
    margin-top: 75px;
    
}

#loginPage, #loggedInPage {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    overflow: hidden;
    white-space: nowrap;
}

.sidenav a:hover {
    color: #111;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#loginArea, #createAccountArea {
    width: 50%;
    margin: 0 auto;
}

.org-btn {
    background-color: var(--main-color) !important; 
    color: #DDDDDD !important;
}

#createText {
    color: var(--main-color);
}

a.divLink{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.part, .project, .resource, .homeBtn {
    border: 4px solid #818181;
    border-radius: 5px;
    padding: 10px;
    overflow:hidden;
    transition: 0.2s;
    text-decoration: none;
    cursor: pointer;
}

#categoryDropdown, #categoryDropdownPart, #partAdd,
 #addCat, #categoryDropdownAddPart, #partAddProj, #resAddProj {
    color:white;
    background-color: var(--main-color);
    right: 0px;
}

#categoryDropdown, #projectAdd, #resourceAdd {
    color:white;
    background-color: var(--main-color);
    margin-left: 30px;
}

#searchFunctions div{
    display: inline-block;
}
/*
#partsContainer, #partContainer {
    width: 50%;
    margin: 0 auto;
}
*/

#partInfo, #resourceInfo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 40px;
    grid-template-rows: min-content;
}

#projectInfo {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 40px;
    width: 100%;
}

#partsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    grid-template-rows: min-content;
}

#resourcesList {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    grid-template-rows: min-content;
}

#projectsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-template-rows: min-content;
}

.drawIc {
    color: var(--main-color);
}

#projectsGridHome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    grid-template-rows: min-content;
}

#stageArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    grid-template-rows: min-content;
}

#buttonGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.homeBtn {
    text-align: center;
    transition: 0.2s;
}

.homeBtn a {
    font-size: 2em;
    text-decoration: none;
    color: #212529;
    display: block;
    padding: 50px;
}

.homeBtn:hover, .part:hover, .project:hover,
.resource:hover {
    background-color: #d1d1d1;
}